
.b-header{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.b-sandwich{
    display: none;
}

.header__icon{
    display: none;
    padding: 15px;
}

.header__links-link{
    display: flex;
    justify-content:space-between;

}

.header__links-link a{
    font-weight: 600;
    line-height: 125%;
    color:#222222;
}

.header__links-link a:hover{
    transition: 0.20s color;
    color:#69A54D;
}

.header__links-info{
    margin-top: 28px;
}

.header__email{
    color: #69A54D;
    font-weight: 600;
    font-size: 20px;
}

.header__language{
    width: 269px;
}
.header__language-selector{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.header__language-RU{
    color: #69A54D;
}

.header__language-EN{
    color: #222;
}

.header__number{
    font-weight: 600;
    font-size: 20px;
}

.header__number a{
    color: #222;
}

.header__number a:hover{
    transition: 0.2s ease-in-out;
    color: #69A54D;
}

@media (max-width:1290px) {
    .b-header{
        max-width: 767px;
    }
    .header__icon{
        display: inline-block;
    }
    .header__email{
        display: none;
    }
    .header__menu{
        max-width: 180px;
        text-align: end;
    }
    .header__links-link{
        display: none;
    }
}

@media (max-width:767px) {
    .header__email{
        display: none;
    }
    .header__menu{
        display: none;
    }
    .header__links-link{
        display: none;
    }
    .header__number{
        display: none;
    }
    .header__language-selector{
        display: inline;
        text-align: start;
    }
}