/*----------------------------------------------------------*/

.otherequipment__card{
    display: flex;
    justify-content: space-between;
}

.otherequipment__card svg{
    position: absolute;
    z-index: 4;
    bottom: 36px;
    left: 29px;
}

.otherequipment__card-title{
    position: absolute;
    z-index: 5;
    padding: 27px 0px 0px 27px;
    color: #FFF;
    font-size: 22px;
    font-weight: 800;
}
.otherequipment__card-item{
    height: 240px;
    position: relative;
    background: #222;
}

.otherequipment__text{
    font-size: 18px;
    line-height: 30px;
    margin: 62px 0 39px 0;
}

.otherequipment__card-image{
    opacity: 0.6;
}

@media (max-width:1290px)  {
    .b-otherequipment{
        padding: 0 40px;
    }
    .otherequipment__title{
        font-size: 30px;
    }
    .otherequipment__card-title{
        font-size: 16px;
    }
    .otherequipment__card-item{
        height: auto;
        max-height: 230px;
    }
    .otherequipment__card-image{
        width: 100%;
        object-fit: cover; 
    }
    .otherequipment__card-item:nth-child(1){
        margin-right: 20px;
    }
}

@media (max-width:767px)  {
    .b-otherequipment{
        padding: 0 20px;
    }
    .otherequipment__title{
        font-size: 24px;
        text-align: center;
    }
    .otherequipment__text{
        font-size: 14px;
        line-height: 171.5%;
    }
    .otherequipment__card-item{
        width: 334px;
        height: 127px;
    }

}


@media (max-width:670px)  {
    .otherequipment__card{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        row-gap: 20px;
    }
    .otherequipment__card-item{
        width: 300px;
        height: 114px;
        background-position: center;
    }
}