/*----------------------------------------------------------*/
.b-content{
    max-width: 1290px;
    margin: 70px auto;
}
.b-products{
    margin: 68px 0;
}
.products__title{
    font-size: 48px;
    font-weight: 700;
}
.products__subtitle{
    font-size: 18px;
    line-height: 30px;
    margin: 39px 0;
}
.cards__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    gap: 20px;
    align-items: center;
}
.cards__title{
    color: #CDBD84;
    font-size: 80px;
    font-weight: 700;
}
.cards__title span{
    font-size: 24px;
}
.cards__subtitle{
    font-size: 18px;
    line-height: 30px;
    margin: 13px 0px;
    text-wrap: balance;
}
@media (max-width:1290px) {
    .b-title {
        font-size: 38px;
    }
    .products__subtitle {
        font-size: 16px;
        line-height: 30px;
    }
    .b-products{
        padding: 0 40px;
    }
    .cards__title{
        color: #CDBD84;
        font-size: 72px;
    }
    .cards__subtitle{
        font-size: 16px;
        line-height: 26px;
        margin: 13px 0px;
    }
}

@media (max-width:767px) {
    .b-content {
        text-align: center;
        font-size: 26px;
    }
    .products__subtitle {
        font-size: 14px;
        line-height: 24px;
    }
    .b-products{
        padding: 0 20px;
    }
    .cards__title span{
        font-size: 20px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
        gap: 20px;
    }
    .cards__title{
        color: #CDBD84;
        font-size: 48px;
    }
    .cards__subtitle{
        font-size: 14px;
        line-height: 171.429%;
        margin: 13px 0px;
    }
}

@media (max-width:489px) {
    .cards__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        gap: 17px;
    }
    .card__title span{
        font-size: 18px;
    }
    .card__title{
        text-align: end;
    }
}