/*----------------------------------------------------------*/
.b-services{
    margin-bottom: 25px;
}
.services__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(630px, 1fr));
    row-gap: 30px;
    column-gap: 30px;
}


.service__number{
    margin: -90px 20px 0 0;
    text-align: right;
    color: rgba(255, 255, 255, 0.50);
    font-size: 72px;
    font-weight: 700;
}

.services__subtitle{
    margin: 31px 0px 21px 0px;
    color: #69A54D;
    font-size: 22px;
    font-weight: 600;
}

.services__text{
    line-height: 24px;
}

@media (max-width:1290px)  {
    .b-services{
        padding: 0 40px;
    }
    .service__img{
        width: 100%;
        height: auto;
    }
    .services__title{
        font-size: 30px;
    }
    .service__number{
        margin: -70px 20px 0 0;
        font-size: 48px;
    }
    .services__grid{
        background-size:cover;
        grid-template-columns: repeat(auto-fill, minmax(338px, 1fr));
        column-gap: 12px;
    }
    
}
@media (max-width:767px)  {
    .b-services{
        padding: 0 20px;
    }
    .services__title{
        font-size: 24px;
        text-align: center;
    }
    .services__grid{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
        row-gap: 30px;
        column-gap: 30px;
    }
    .service__number{
        margin: -60px 20px 0 0;
        font-size: 48px;
    }
    .services__subtitle{
        font-size: 18px;
    }
    .services__text{
        font-size: 14px;
        line-height: 24px;
    }
    
}