/*----------------------------------------------------------*/
.slider{
    object-fit: cover;
    background-image: url("../img/Group 95.jpg");
    background-repeat: no-repeat;
    min-height: 792px;
    background-position: center;
}

.slider__container{
    max-width: 1290px;
    margin: 0 auto;
}
.slider__menu{
    padding: 19px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat-Bold';
}

.slider__menu-links{
    width: 838px;
    display: flex;
    justify-content: space-between;
}

.slider-link{
    color: #FFF;
    text-decoration: none;
}

.slider-link:hover{
    color: #69A54D;
    text-decoration: none;
    transition: 0.2s;
}

.slider__text-title{
    font-family: 'Montserrat-Bold';
    font-size: calc(16px + 92 * (100vw / 1920));
    text-align: center;
    color: white;
    opacity: 70%;
    margin: 262px 0 26px 0;
}

.slider__text-subtitle{
    font-family: 'Montserrat-Bold';
    font-size: calc(16px + 13 * (100vw / 1920));
    text-align: center;
    color: white;
}

@media (max-width:1290px) {
    .slider__menu-links{
        display: none;
    }
    .slider__menu{
        justify-content: flex-end;
    }
    .slider{
        background-image: url("./img/Group 95.jpg");
        background-position: center;
    }
    .slider__text-title{
        font-size: 57px;
    }
    
    .slider__text-subtitle{
        font-size: 20px;
    }
}

@media (max-width:767px) {
    .slider__text-title{
        font-size: 25px;
    }
    
    .slider__text-subtitle{
        font-size: 15px;
    }
}