


/*-----------Верстка меню-----------*/
.swiper__menu{
    position: relative;
    z-index: 2;
    max-width: 1290px;
    margin: 0 auto;
    padding: 19px 0px 0 0px;
    display: flex;
    justify-content: space-between;
}
.swiper__menu-links{
    display: flex;
    justify-content: flex-start;
}
.swiper__link{
    padding: 17px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.swiper__link:hover{
    background: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}
/*---------------------------------*/


/*-----------Верстка Заголовков-----------*/
.swiper__text-title{
    font-size: 108px;
    text-align: center;
    font-weight: 800;
    color: white;
    opacity: 70%;
    margin: 220px 0 26px 0;
}

.swiper__text-subtitle{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 310px 0;
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    color: white;
}
/*---------------------------------*/

.swiper__image{
    position: absolute;
    z-index: -10;
    width: 100%;
    max-width: 4096px;
    height: 100%;
    min-height: 792px;
    margin: -50px 0 0 0;
    object-fit: cover;
    object-position: center; 
}


/*-----------Верстка кнопок слайдера-----------*/
.swiper__navigation{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;

}
.swiper__button{
    position: relative;
    bottom: 85px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    width: 62px;
    height: 40px;
    left: 50%;
    margin-left: -575px;
    opacity: 0.6;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    width: 62px;
    height: 40px;
    left: 50%;
    margin-left: -645px;
    opacity: 0.6;
}
.swiper__navigation{
    position: relative;
    bottom: 70px;
    max-width: 1290px;
    margin: 0 auto;
}

.swiper__line{
    max-width: 1014px;
    width: 100%;
    margin: 0 150px;
    border-bottom: 1px solid #FFF;
    opacity: 0.6;
}
.swiper__number{
    display: block;
    margin-top: -80px;
    text-align: right;
    color: rgba(255, 255, 255, 0.40);
    font-size: 96px;
    font-weight: 700;
}
/*------------------------------------*/


@media (max-width:1290px) {
    .swiper__menu-links{
        display: none;
    }
    .swiper__menu{
        justify-content: flex-end;
    }
    .swiper{
        background-position: center;
    }
    .swiper__text-title{
        font-size: 57px;
    }
    .swiper__text-subtitle{
        font-size: 20px;
    }
    .swiper__line{
        max-width: 900px;
        width: 100%;
        margin: 0 150px;
        border-bottom: 1px solid #FFF;
        opacity: 0.6;
    }

    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        position: absolute;
        width: 62px;
        height: 40px;
        left: 70px;
        opacity: 0.6;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        position: absolute;
        width: 62px;
        height: 40px;
        left: 0px;
        opacity: 0.6;
    }
}

@media (max-width:767px) {
    .swiper__text-title{
        font-size: 25px;
    }
    
    .swiper__text-subtitle{
        font-size: 15px;
    }

    .swiper__image{
        height: 100%;
        max-height: 792px;
        margin: -50px 0 0 0;
    }
}